<% include ./partials/header %>
<div class="jumbotron jumbotron-fluid banner">
 <div class="container">
<div class="landingcon">
  <h1 class="display-4 text-center">YelpCamp</h1>
  <p class="lead text-center">ADD, VIEW AND COMMENT ON YOUR FAVORITE CAMPGROUNDS</p>
  <hr class="my-4">
  
  <p class="lead">
    <div class="text-center">
    <a class="btn btn-warning btn-lg" href="/campgrounds" role="button">View All Campgrounds</a>
    </div>
  </p>
  </div>
 </div>
</div>
<% include ./partials/footer %>